<!-- CIASTKA -->
<!-- CIASTKA -->
<style>
   div.cookie_info_belka {position:relative; width:100%; background-color:#686868; padding:8px 0px 8px 0px; margin-bottom:5px;}
   div.cookie_info_tekst {position:relative; width:950px; text-align:left}
   div.cookie_info_tekst {font-family:arial; font-size:11px; color:#fff}
   div.cookie_info_tekst a {color:#fff; text-decoration:underline;}
</style>
<div id="informacja_o_ciasteczkach" class="cookie_info_belka">
   <center><div class="cookie_info_tekst">
      Na naszym serwisie stosujemy pliki cookies w celach statystycznych i reklamowych. Korzystanie z witryny bez zmiany ustawień dotyczących cookies oznacza, że będą one zamieszczane w Państwa komputerze. Możecie Państwo dokonać w każdym czasie zmiany ustawień dotyczących przechowywania i uzyskiwania dostępu do cookies przy pomocy ustawień przeglądarki.
         <a href="javascript:zamknij_ciastka('');">[Zamknij]</a>
   </div></center>
</div>

<script type="text/javascript">

   var c_value = document.cookie;
   var c_start = c_value.indexOf("ciasteczka_wylaczone=");

   if (c_start!=-1) {
      var helpObj;
      if (document.all){
      helpObj = document.all["informacja_o_ciasteczkach"];}
      else if (document.getElementById){
      helpObj = document.getElementById("informacja_o_ciasteczkach");}
      if (helpObj) {
      helpObj.style.display="none";}
   }

   function zamknij_ciastka() {
      //Get help object
      var helpObj;
      if (document.all){
      helpObj = document.all["informacja_o_ciasteczkach"];}
      else if (document.getElementById){
      helpObj = document.getElementById("informacja_o_ciasteczkach");}
      if (helpObj) {
      helpObj.style.display="none";}
      document.cookie='ciasteczka_wylaczone=tak; expires=Fri, 7 Jun 2024 20:47:11 UTC; path=/';
   }
</script>
<!-- /CIASTKA -->
<!-- /CIASTKA -->