<footer class="footer">
  <small>
    Copyright @ Marcin Słowik 2015
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="">News</a></li>
    </ul>
  </nav>
</footer>