<%= javascript_include_tag :defaults %>
<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Uj app</strong>
                    </h4>
                    <p>Jagiellonian University Cracow</p>
                    <ul class="list-unstyled">
                        <li>tel. (+48) 513-935-325</li>
                        <li><a href="mailto:riobson@gmail.com">riobson@gmail.com</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Marcin Słowik 2015</p>
                </div>
            </div>
        </div>
    </footer>
