<header id="top" class="header">
   <%= javascript_include_tag :defaults %>
   <%= csrf_meta_tag %>
        <div class="text-vertical-center">
          <%= yield %><br>
        </div>
    </header>


